*.o
*.out
*.pyc

# Ignore files in test_data
**/test/resources/**

# Except labels and tree files
!**/test/resources/labels
!**/test/resources/tree

predictions_at_iteration*

temp/*
target/**

.classpath
.project
.settings/**
